In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv(r'C:\Users\HP\Desktop\Python\Vs_Python\Projects\Bitcoin_price_prediction\Dataset\merged_output.csv')

In [10]:
df.head()

,timeOpen,timeClose,timeHigh,timeLow,name,open,high,low,close,volume,marketCap,timestamp
0,2011-01-02T00:00:00.000Z,2011-01-02T23:59:59.999Z,2011-01-02T12:40:00.000Z,2011-01-02T00:53:00.000Z,2781,0.300264,0.367208,0.289348,0.300000,5350.48,1511302.50,2011-01-02T23:59:59.999Z
1,2011-01-03T00:00:00.000Z,2011-01-03T23:59:59.999Z,2011-01-03T01:44:00.000Z,2011-01-03T21:04:00.000Z,2781,0.300137,0.338386,0.277848,0.297348,1427.50,1500259.79,2011-01-03T23:59:59.999Z
2,2011-01-04T00:00:00.000Z,2011-01-04T23:59:59.999Z,2011-01-04T21:19:00.000Z,2011-01-04T01:47:00.000Z,2781,0.297227,0.310119,0.248605,0.299439,1883.39,1512924.00,2011-01-04T23:59:59.999Z
3,2011-01-05T00:00:00.000Z,2011-01-05T23:59:59.999Z,2011-01-05T01:49:00.000Z,2011-01-05T00:21:00.000Z,2781,0.300773,0.392055,0.288454,0.299252,356.98,1514282.20,2011-01-05T23:59:59.999Z
4,2011-01-06T00:00:00.000Z,2011-01-06T23:59:59.999Z,2011-01-06T00:24:00.000Z,2011-01-06T15:31:00.000Z,2781,0.299186,0.308228,0.254499,0.299292,3445.08,1516596.24,2011-01-06T23:59:59.999Z

In [11]:
df.shape

(5261, 12)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5261 entries, 0 to 5260
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timeOpen   5261 non-null   object
 1   timeClose  5261 non-null   object
 2   timeHigh   5261 non-null   object
 3   timeLow    5261 non-null   object
 4   name       5261 non-null   int64
 5   open       5261 non-null   float64
 6   high       5261 non-null   float64
 7   low        5261 non-null   float64
 8   close      5261 non-null   float64
 9   volume     5261 non-null   float64
 10  marketCap  5261 non-null   float64
 11  timestamp  5261 non-null   object
dtypes: float64(6), int64(1), object(5)
memory usage: 493.3+ KB

In [13]:
df.drop(columns=['timeOpen','timeClose','timeHigh','timeLow','name'],inplace=True)

In [21]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [25]:
df['Year'] = df['timestamp'].dt.year
df['Month'] = df['timestamp'].dt.month
df['Day'] = df['timestamp'].dt.day

In [30]:
df = df.drop('timestamp',axis=1)

In [32]:
df.isnull().sum()

open         0
high         0
low          0
close        0
volume       0
marketCap    0
Year         0
Month        0
Day          0
dtype: int64

In [35]:
df.duplicated().sum()

np.int64(0)

In [36]:
df.describe()

,open,high,low,close,volume,marketCap,Year,Month,Day
count,5261.000000,5261.000000,5261.000000,5261.000000,5.261000e+03,5.261000e+03,5261.000000,5261.000000,5261.000000
mean,16659.732124,17025.196297,16277.933456,16679.358189,1.448865e+10,3.193522e+11,2017.712602,6.423684,15.722486
std,24379.836226,24885.213663,23855.264950,24409.869713,1.994806e+10,4.790347e+11,4.163106,3.458186,8.794451
min,0.297227,0.308228,0.248605,0.297348,0.000000e+00,1.500260e+06,2011.000000,1.000000,1.000000
25%,285.066986,292.364990,281.010986,285.505005,1.734490e+07,4.063305e+09,2014.000000,3.000000,8.000000
50%,5251.480692,5359.925030,5167.419058,5268.291063,4.372764e+09,9.308616e+10,2018.000000,6.000000,16.000000
75%,26047.235240,26409.303010,25728.365570,26049.556900,2.523085e+10,5.060000e+11,2021.000000,9.000000,23.000000
max,111679.356300,111970.168100,109285.072400,111673.284000,3.510000e+11,2.220000e+12,2025.000000,12.000000,31.000000

In [38]:
corr = df.corr()